name: "CI"
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - run: npm ci
    - run: npm run lint
    - run: npm run build
    - run: npm test
    - uses: ./
    - run: volta --version
    - run: volta install node yarn
